@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
 
*{
    font-family: outfit;
} 

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}

*::selection{
    background-color:#037c6e;
    color: white;
}

@media (max-width:740px){
    .active p{
        @apply text-white bg-[#037c6e]
    }
}


@keyframes pulseGlow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(7, 111, 7, 0.6);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 15px 10px rgba(0, 200, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
  }
}

.chatbot-icon {
  animation: pulseGlow 2s infinite;
  transition: transform 0.3s ease-in-out;
}
